@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
body{
	background-image: url(Money.jpg);
	font-family: 'Gloria Hallelujah', cursive;
}
input{
	width: 85px;
	height: 85px;
	margin: 10px;
	font-size: 70px;
	text-align: center;	
	background-color: black;
	color: white;
}
.button{
	padding: 5px;
	width: 150px;
	height: 55px;
	border-radius: 50px;
	font-size: 20px;
	background-color: #AD3140;
	box-shadow: 3px 3px 3px white;
	font-family: 'Gloria Hallelujah', cursive;
}
.button:hover{
	color:green;
	background-color: white;
	box-shadow: 3px 3px 3px #AD3140;	
}
.ball{
	position: relative;
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 20px;
	background-image: url(ball.png);
}
#specialball{
	float: left;
	position: relative;
	width: 48px;
	height: 48px;
	background-image: url(goldball.png);
}
#balls{
	width: 500px;
	height: 48px;
	text-align: center;
	margin: 0 0 0 50px;
}
#home{
	position: fixed;
	bottom: 0px;
	left: 10px;
	border-radius: 20px;
	opacity: 0.9;
}
#content{
	width: 800px;
	height: 650px;
	margin: 70px auto;
	padding: 5px;
	background-color: #F1E5C4;
	text-align: center;
}
#title{
	text-align: left;
	position: relative;
	margin: 20px;
	width: 740px;
	height: 161px;
}
#result{
	width: 780px;
	padding: 15px 10px;
}
#head{
	width: 200px;
	height: 230px;
	float: left;
}
#triangle-left{
	float: left;
	width: 0;
	height: 0;
	border-top: 23px solid transparent;
	border-right: 50px solid white;
	border-bottom: 23px solid transparent;
	margin-right: -10px;
	margin-top: 100px;
}
#words{
	margin-top: 85px;
	text-align: center;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	font-size: 28px;
	float: left;
}